body {
  background-color: #bee2c1;
  font-family: "Pacifico"; }

h1 {
  text-align: center;
  color: #FF7F50; }

#addMeetup {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif; }

#addMeetup h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5C5C5C;
  font-size: x-large; }

#addMeetup ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#addMeetup li {
  display: block;
  padding: 9px;
  border: 1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px; }

#addMeetup li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center; }

#addMeetup li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif; }

#addMeetup select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif; }

#addMeetup li > span {
  background: #FF7F50;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; }

#addMeetup textarea {
  resize: none; }

#addMeetup input[type="submit"],
#addMeetup input[type="button"] {
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #D2E2FF; }

#addMeetup input[type="submit"]:hover,
#addMeetup input[type="button"]:hover {
  color: #fff; }

#listMeetups {
  display: flex;
  flex-direction: column;
  color: #FF7F50;
  align-items: center;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
  padding: 2%;
  margin: 5%; }

.title {
  font-size: 35px; }

.description {
  font-size: 25px; }

.img {
  margin: auto; }

.date {
  font-size: 25px; }

#login {
  display: flex;
  justify-content: space-between; }

#navig {
  display: flex;
  justify-content: center; }

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none; }

.green {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644; }

.yellow {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358; }

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid; }

.UpForm {
  display: flex;
  flex-direction: column;
  color: #FF7F50;
  align-items: center;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
  padding: 2%;
  margin: 5%;
  line-height: 55px;
  font-size: 18px; }

.update {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  outline: none; }

.title {
  font-size: 35px; }

.description {
  font-size: 25px; }

.img {
  margin: auto; }

.date {
  font-size: 25px; }

#homeIntro {
  margin: auto;
  color: #FF7F50;
  font-size: 34px;
  text-align: center;
  width: 50%;
  margin-top: 2%; }

/*# sourceMappingURL=mainMeetup.css.map */
