
body{
    background-color: $background;
    font-family: $font-family
}

h1{
    text-align: $title;
    color: $borderColor;
    
}


#addMeetup{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#addMeetup h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
#addMeetup ul{
    list-style:none;
    padding:0;
    margin:0;   
}
#addMeetup li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
#addMeetup li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
#addMeetup li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;


}

#addMeetup select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#addMeetup li > span{
    background: $borderColor;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
#addMeetup textarea{
    resize:none;
}
#addMeetup input[type="submit"],
#addMeetup input[type="button"]{
    // background: $background;
    border: none;
    padding: 10px 20px 10px 20px;
    // border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
#addMeetup input[type="submit"]:hover,
#addMeetup input[type="button"]:hover{
    // background: #6B9FFF;
    color:#fff;
}