

#login
{
    display: flex;
    justify-content: space-between;
}

#navig
{
    display: flex;
    justify-content: center;

}
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: $font-family, cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}


.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
   
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

