.UpForm{
        display: flex;
        flex-direction: column;
        color:$textColor;
        align-items: center;
        border: 1px dashed #ddd;
        box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
        padding:2%;
        margin: 5%;
        line-height: 55px;
        font-size: 18px;
       
    }

    .update{
        background: transparent;
        border: none;
        -webkit-appearance: none;
        outline: none;
    }
    
    .title{
        font-size: 35px;
    }
    
    .description{
        font-size: 25px;
    }
    
    .img{
        margin: auto;
        
    }
    
    .date{
        font-size: 25px;
    }
